@layer atoms {
  .link {
    color: var(--color-link);
    text-decoration: none;
    font-family: inherit;
    font-size: var(--text-font-size);
    transition: color var(--transition-speed);
  }

  @media (hover: hover) {
    .link:hover .text {
      color: var(--color-link-hover);
    }
  }
}
