@layer atoms {
  .input-field {
    --input-field-height: 2.75em;
    --input-field-font-weight: 700;
    --input-field-padding: 1.5em 0.75em;
    --input-field-placeholder-font-weight: 400;

    height: var(--input-field-height);
    box-sizing: border-box;
    font-weight: var(--input-field-font-weight);
    width: 100%;
    padding: var(--input-field-padding);
    font-family: var(--text-font);
    border: 2px solid var(--color-brand-dark-blue);
    border-radius: 0.5rem;
    outline: none;
  }

  .input-field:focus-visible {
    outline-offset: var(--outline-offset);
  }

  .input-field::placeholder {
    font-weight: var(--input-field-font-weight);
  }
}
