@layer theme {
  [data-theme^="dark"] {
    --color-theme: dark;

    --color-background: var(--color-brand-dark-blue);
    --color-heading: var(--color-neutral-white);
    --color-text: var(--color-neutral-white);
    --color-em: var(--color-text);
    --color-border: var(--color-neutral-grey-light);
    --color-outline: var(--color-brand-accent-light);
    --color-accent: var(--color-brand-yellow);
    --color-accent-tint: color-mix(in srgb, var(--color-accent), var(--color-background) 20%);
    --color-highlight: var(--color-brand-light);
    --color-placeholder: var(--color-neutral-950);
    --color-mark: color-mix(in srgb, var(--color-accent), var(--color-background) 70%);
    --color-icon: var(--color-text);

    --color-link: var(--color-text);
    --color-link-hover: var(--color-brand-yellow);

    --color-button-text: var(--color-neutral-white);
    --color-button-border: var(--color-accent);
    --color-button-background: var(--color-accent);

    --color-button-text-hover: var(--color-neutral-white);
    --color-button-border-hover: var(--color-accent);
    --color-button-background-hover: var(--color-accent-tint);

    --color-button-text-disabled: var(--color-neutral-black);
    --color-button-border-disabled: var(--color-neutral-800);
    --color-button-background-disabled: var(--color-neutral-800);

    --color-button-secondary-text: var(--color-neutral-white);
    --color-button-secondary-border: var(--color-accent);
    --color-button-secondary-background: transparent;

    --color-button-secondary-text-hover: var(--color-neutral-white);
    --color-button-secondary-border-hover: var(--color-accent);
    --color-button-secondary-background-hover: var(--color-accent-tint);

    --color-button-secondary-text-disabled: var(--color-neutral-600);
    --color-button-secondary-border-disabled: var(--color-neutral-600);
    --color-button-secondary-background-disabled: transparent;
  }
}
