@layer subtheme {
  [data-theme="light-tint"] {
    --color-theme: light-tint;

    --color-background: var(--color-brand-yellow);
    --color-background-tint: var(--color-brand-yellow);
    --color-heading: var(--color-brand-light-blue);
    --color-text: var(--color-neutral-white);

    --color-link: var(--color-text);
    --color-link-hover: var(--color-brand-dark-blue);
  }
}
